body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
}

:root {
    --primary-purple: #8981D8;
    --dark-purple: #6A61BF;
    --background: #FBFBFB;
    --text-color: white;
    --lightgrey: #D0D0D0;
    --grey: #858499;
    --hover-purple: rgba(137, 129, 216, 0.5);
}

hr {
    color: var(--lightgrey);
}

#sidebar {
    background-color: var(--primary-purple);
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
}

#logo {
    background-color: var(--dark-purple);
    text-align: center;
    padding: 15px;
}

#logo img {
    width: 110px;
}

#sidebar-links {
    padding: 20px;
}

#sidebar-links nav ul {
    padding: 0;
}

#sidebar-links nav ul li {
    list-style-type: none;
    margin: 20px 0;
}

#sidebar-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
    padding: 12px;
    border-radius: 8px;
    transition: background 0.3s ease-in-out;
}

#sidebar-links a:hover {
    background: rgba(255, 255, 255, 0.2);
}

#sidebar-links i {
    color: var(--text-color);
    margin-right: 12px;
    font-size: 18px;
}

#sidebar-links .active {
    border-left: 4px solid var(--text-color);
    padding-left: 8px;
    background: rgba(255, 255, 255, 0.2);
}

main {
    margin-left: 250px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

#search-bar input {
    padding: 10px;
    width: 250px;
    border: none;
    font-size: 14px;
}

#user {
    display: flex;
    align-items: center;
}

#user img {
    width: 30px;
    margin-right: 7px;
}

#user-section {
    display: flex;
    align-items: center;
    gap: 15px;
}

#user span {
    color: var(--grey);
}

.fa-bell-o {
    cursor: pointer;
    margin-left: 10px;
}

#filters-bar-note {
    color: var(--primary-purple);
    cursor: pointer;
}