body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
}

:root {
    --primary-purple: #8981D8;
    --dark-purple: #6A61BF;
    --background: #FBFBFB;
    --text-color: white;
    --lightgrey: #D0D0D0;
    --grey: #858499;
    --hover-purple: rgba(137, 129, 216, 0.5);
}

hr {
    color: var(--lightgrey);
    width: 85%;
}

#logo {
    background-color: var(--dark-purple);
    padding: 15px;
}

#logo img {
    width: 110px;
}

#sidebar {
    background-color: var(--primary-purple);
    width: 250px;
    height: 100vh;
    position: fixed;
}

#sidebar-links nav ul {
    padding: 0;
}

#sidebar-links nav ul li {
    list-style-type: none;
    margin: 20px 0;
}

#sidebar-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 700;
    padding: 12px;
    border-radius: 8px;
    transition: background 0.3s ease-in-out;
}

#sidebar-links a:hover {
    background: rgba(255, 255, 255, 0.2);
}

#sidebar-links i {
    color: var(--text-color);
    margin-right: 12px;
    font-size: 18px;
}

#sidebar-links .active {
    border-left: 4px solid var(--text-color);
    padding-left: 8px;
    background: rgba(255, 255, 255, 0.2);
}

#sidebar-footer {
    position: absolute;
    bottom: 0;
    color: var(--text-color);
    font-size: 13px;
    margin: 10px;
}

main {
    margin-left: 250px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

#search-bar input {
    padding: 10px;
    width: 250px;
    border: none;
}

#user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#user img {
    width: 30px;
    margin-right: 7px;
}

#user-section {
    display: flex;
    align-items: center;
    gap: 25px;
}

#user span {
    color: var(--grey);
}

.fa-bell-o {
    cursor: pointer;
    margin-left: 10px;
}

#filters-bar-note {
    color: var(--primary-purple);
    cursor: pointer;
}

#main-notes-container {
    padding: 20px;
}

#filters-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filters-bar button {
    width: 70px;
    margin: 5px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.filter-active {
    background-color: var(--primary-purple);
    color: var(--text-color);
    transition: background 0.3s ease-in-out;
}

.filter-active:hover {
    background-color: var(--hover-purple);
}

#notes-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 700px;
}

.note-card-date {
    color: var(--grey);
    font-size: 13px;
}

.note-card {
    width: 180px;
    height: 200px;
    background-color: var(--text-color);
    border: 0.5px solid var(--lightgrey);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    overflow: scroll;
}

.note-card h3 {
    overflow: hidden;
}

.note-card img {
    max-width: 100%;
    width: 160px;
    height: 90px;
    object-fit: fill;
}

@media screen and (max-width: 800px) {
    #sidebar, #user span, #user-section i, #add-note {
        display: none;
    }

    main {
        margin-left: 0px;
    }

    #notes-container {
        justify-content: center;
    }
}

@media screen and (max-width: 400px) {
    #search-bar input {
        width: 150px;
        padding: 5px;
    }
}
